var/schema/sugar.rnc

start = sugarmeta

sugarmeta = element sugarmeta {
	( dictionary & viewdefs )
}

viewdefs = element viewdefs {
	text
}

dictionary = element dictionary {
	( account | contact | lead )*
}

account = element Account {
	element fields {
		text
	}
}

contact = element Contact { text }
lead = element Lead { text }


